.footerContainer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #083290;
}

.footerContent {
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}