.contentContainer {
  max-width: 1120px;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 5rem);

  div {
    width: 100%;

    iframe {
      border: 0;
      margin: 2rem 0 1rem !important;
    }
  }

  a {
    margin: 1rem;
  }

  @media (max-width: 720px) {
    text-align: center;
    flex-direction: column;
    height: auto;

    div {
      iframe {
        width: 100%;
        margin: 0;
        margin: 1rem 0 !important;
        // height: 300px !important;
      }

      a {
        margin: 0rem;
      }
    }
  }
}

.contentContainer2 {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // height: 100vh;

  div {
    display: flex;
    width: 100%;

    img {
      border: 0;
      margin: 1rem;
      padding: 0.2rem;
      max-width: 500px;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  a {
    margin: 5rem auto;
  }

  @media (max-width: 720px) {
    text-align: center;
    height: auto;

    div {
      img {
        width: 100%;
        height: 300px;
        margin: 0 auto;
      }
    }

    h1 {
      text-align: center;
      margin: 5rem auto 1rem;
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin-top: 2.2rem;
    }
  }
}

.contentContainer3 {
  width: 100%;
  height: 90vh;
  background: url('/images/tarot.png');
  background-size: cover;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  div {
    display: flex;

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 4rem;
    margin-top: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

    span {
      color: var(--yellow-200);
    }
  }

  @media (max-width: 720px) {
    text-align: center;
    height: auto;

    h1 {
      text-align: center;
      margin: 5rem auto 1rem;
    }
  }
}

.contentContainer4 {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  video {
    max-width: 80%;
    margin: 1rem auto;
  }

  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;

    span {
      img {
        width: 100%;
      }

      p {
        font-size: 1.2rem;
      }
    }

    @media (max-width: 720px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }
  }

  h1 {
    font-size: 3.5rem;
    margin: 5rem auto 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

    span {
      color: var(--yellow-200);
    }
  }

  a {
    margin-top: 2.5rem;
  }

  video {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 720px) {
    text-align: center;

    video {
      max-width: 100%;
    }

    h1 {
      text-align: center;
      margin: 5rem auto 1rem;
    }
  }
}

.contentContainer5 {
  background: var(--white);
  max-width: 1120px;
  margin: 3rem auto !important;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;

  div {
    display: flex;
    width: 100%;

    img {
      border: 0;
      margin: 1rem;
      padding: 0.2rem;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  a {
    margin: 5rem auto;
  }

  @media (max-width: 720px) {
    text-align: center;
    height: auto;
    margin: 2rem !important;

    div {
      img {
        width: 100%;
        height: 300px;
        margin: 0 auto;
      }
    }

    h1 {
      text-align: center;
      margin: 5rem auto 1rem;
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin-top: 2.2rem;
    }
  }
}

.contentContainer6 {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  div {
    display: flex;

    @media (max-width: 720px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 4rem;
    margin-top: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;

    span {
      color: var(--yellow-200);
    }
  }

  @media (max-width: 720px) {
    text-align: center;
    height: auto;

    h1 {
      text-align: center;
      margin: 5rem auto 1rem;
    }
  }
}

.hero {
  max-width: 600px;

  >span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--yellow-200);
      font-weight: bold;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 1.7rem;
      line-height: 1.8rem;
      margin-top: 1.7rem;
    }
  }
}

.hero2 {
  max-width: 600px;

  >span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;

    span {
      color: var(--yellow-200);
      font-size: 2rem;
      font-weight: bold;
    }
  }

  a {
    margin-top: 2rem;
  }

  @media (max-width: 720px) {
    text-align: center;

    p {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-top: 1.5rem;

      span {
        font-size: 1.5rem;
      }
    }
  }
}

.hero3 {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 2rem;

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    margin-top: 2.5rem;
    color: var(--yellow-200);

    span {
      color: var(--yellow-200);
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  p {
    font-size: 1.2rem;
    text-align: center;

    span {
      color: var(--yellow-200);
      font-weight: bold;
    }
  }

  a {
    margin-top: 1.5rem;
  }

  @media (max-width: 720px) {
    text-align: center;
  }
}

.hero4 {
  >span {
    font-size: 2rem;
    font-weight: bold;

    strong {
      color: red;
      text-decoration: line-through;
    }
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin: 2.5rem;

    small {
      color: red;
      text-decoration: line-through;
      font-size: 1.5rem;
    }

    span {
      color: var(--yellow-200);
    }
  }

  h2 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
    margin: 2.5rem;
    color: var(--green-200);

    span {
      color: var(--white);
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    @media (max-width: 720px) {
      margin: 0;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;

    span {
      color: var(--yellow-200);
      font-weight: bold;
    }
  }

  a {
    margin-top: 1.5rem;
  }

  ul {
    text-align: left;
    margin: 1rem;
  }

  @media (max-width: 720px) {
    text-align: center;
  }
}

.hero5 {
  text-align: center;

  >span {
    font-size: 2rem;
    font-weight: bold;

    strong {
      color: red;
      text-decoration: line-through;
    }
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin: 2.5rem;

    small {
      color: red;
      text-decoration: line-through;
      font-size: 1.5rem;
    }

    span {
      color: var(--green-200);
    }
  }

  h2 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
    margin: 1rem 0;
    color: #000;

    span {
      color: black;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    @media (max-width: 720px) {
      margin: 0;
    }
  }

  h3 {
    color: #000;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;

    span {
      color: var(--yellow-200);
      font-weight: bold;
    }
  }

  a {
    margin-top: 1.5rem;
  }

  ul {
    text-align: left;
    margin: 1rem;

    li {
      color: black;
    }
  }

  @media (max-width: 720px) {
    text-align: center;
  }
}

.hero6 {
  width: 100%;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--yellow-200);
    }
  }

  p {
    font-size: 1.2rem;

    span {
      color: var(--yellow-200);
      font-weight: bold;
    }
  }

  a {
    margin-top: 1.5rem;
  }

  @media (max-width: 720px) {
    text-align: center;
  }
}